.big{
    width: 545px;
    padding-left: 24px;
    padding-right: 34px;
}
.floatLeft{
    float: left;
}
.textRight{
    text-align: right;
}
.small{
    width: 329px;
    padding-left: 19px;
    padding-right: 19px;
}
.displayInline{
    display: inline;
}
.MarginCenter{
    margin-right: auto;
    margin-left: auto;
}
#menu{
    padding-top: 20px;
}
#footer{
    height: 30px;
    background-color: black;
    text-align: center;
    color: white;
    padding: 30px;


}
#mainimage {
    background-size: cover;

}
#words h1{
    position: relative;
    top: 150px;
    left: 100px;
    color: white;
}
#words h2{
    color: blue;
    top: 200px;
    left: 350px;
    position: relative;
}
#words {
    position: absolute;
    width: 50%;
    height: 100%;
    background: rgba(0,0,0,.5);
}
.clearfix{
    clear: both;
}


.floatRight{
    float: right;
}

.thinBorder {
    border: 1px black solid;
}
#mountainimage{
    padding-top: 10px;
    padding-bottom: 0px;
    padding-right:0px;
    padding-left: 10px;
}
#content{
    margin-right: 200px;
    margin-top: 80px ;
    margin-left: 10px;
}
#table{
    margin-left: 150px;
}

#caption{
    padding-bottom: 5px;
    padding-left: 10px;
    padding-top:2px;
}
.clearMargin {
    margin: 0px;
}
#content p{
    padding-left: 40px;
}

.footer {
    position: absolute;
    alignment: bottom;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    clear: both;

}

#main {
    position: relative;
    padding: 0px;
    margin: 0px;

}
#secondMain {
    clear: both;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
}

#leftside {
    position: absolute;
    float: left;
    width: 325px;
}
#rightside {
    margin-right: 100px;
    position: relative;
}

#top {
    background-color: deeppink;
    width: 100%;
    height: 100%;
}